body {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	flex-basis: auto;
	flex-grow: 1;
	
	
	width: 76%;
	margin-top: 2%;
	margin-left: 20%;
}

.left-page {
	width: 38%;
}

.left-page img {
	width: 100%;
}

.right-page {
	display: flex;
	flex-direction: column;
	width: 38%;
}

.right-page img {
	width: 100%;
}


.rows {
	height: 33%
}

.arrow {
	width: 2%;
	margin-top: 30%;
	margin-left: 2%;
}
.arrow img {
	width: 100%;
}

@font-face {
    font-family: markerFelt;
    src: url(../resources/MarkerFelt.ttc);
}

.textbox {
	position: fixed;
	background-color: rgb(40,40,40);
	width: 30%;
	left: 33.85%;
	top: 30%;
	height: 25%;
	z-index: 10;

	
	margin: 0;
	padding: 0;
}

.textbox p {
	padding: 5%;
	line-height: 2em;
	font-size: 20px;
	text-align: left;
	font-family: markerFelt;
	color: white;
	letter-spacing: 2px;
}
