body {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	flex-basis: auto;
	flex-grow: 1;
	width: 76%;
	margin-top: 2%;
	margin-left: 20%;

	font-family: markerFelt;
	


}
.main-image {
	width: 76%;
}

body img {
	width: 100%;
}

.arrow {

	width: 2%;
	margin-top: 30%;
	margin-left: 2%;
}

@font-face {
    font-family: markerFelt;
    src: url(../resources/MarkerFelt.ttc);
}


.textbox {
	position: fixed;
	background-color: rgb(40,40,40);
	width: 30%;
	left: 33.85%;
	top: 30%;
	height: 20%;
	z-index: 10;

	
	margin: 0;
	padding: 0;
}

.textbox p {
	padding: 5%;
	padding-left: 7%;
	line-height: 1.5em;
	font-size: 25px;
	text-align: left;
	font-family: markerFelt;
	color: white;
	letter-spacing: 2px;
}

.seconds {
	position: fixed;
	left: 70%;
	background-color: white;
	width: 200px;
	padding: 20px;
	font-size: 25px;

}


